.new-header {
    display: flex;
    justify-content: space-between;
}
.new-header {
    margin-top: 40px;

		&__nav {
            display: flex;
            align-items: flex-end;
            gap: 60rem;
            @include mobile {
                position: fixed;
                width: 70%;
                height: 100%;
                top: 0;
                left: 0;
                background: aqua;
                opacity: 88%;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                transform: translateX(-120%);
                transition: 0.2s all ease-in-out;
                z-index: 1000;
                color: pink;
                text-align: center;
    
    
            }
		}

		&__nav-links {
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 14px;
            color: #f9fafb; 
            border-radius: 5px;
            &:hover {
                transform: scale(1.2);
            }

		}
}
.actual-link {
    background: linear-gradient(91deg, #2563eb 0%, #d946ef 100%);
    border-radius: 5px;
    padding: 12px 24px;
    display: flex;
    text-align: end;

}

.menu {
    display: none;
    @include mobile {
        display: block;
    }
}
.is-active {
    transform: translateX(0);
  }

  .close {
    display: none;
    @include mobile {
        display: flex;
        position: fixed;
        top: 0;
        left: 90%;
        color: black;
    }
  }
  //.new-header__contact {
  //  margin-top: 50px;
  //}

  .new-header__contact{
    display: flex;
    align-items: flex-start;
  }